/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Roboto+Mono:wght@100..700&family=Rubik:wght@800&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* General Setting  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffd700;
}

body {
  position: relative;
  background: #000000;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 1000;
}

.logo {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav li {
  position: relative;
  list-style: none;
  margin: 0 20px;
}

.nav li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
}

.nav li .nav-btn::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: var(--primary);
  transition: 0.5s;
}

.nav li .nav-btn:hover:after {
  width: 50%;
}

.nav li .nav-btn:hover {
  color: var(--primary);
}

.nav .nav-btn.active {
  color: var(--primary);
}

.nav .nav-btn.active::after {
  width: 50%;
}

.bag {
  position: relative;
  color: #ffffff;
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag .number {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000000;
  font-size: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
  position: relative;
  transition: 0.5s;
}

/* Hero Banner Section  */

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  background: #111111;
  perspective: 1000px;
  transform-style: preserve-3d;
  z-index: 800;
}

.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.banner .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .content h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1em;
}

.banner .content h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1em;
}

.banner .content p {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.banner .content .content-btn {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 25px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  width: 200px;
  background: radial-gradient(
      ellipse farthest-corner at left top,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at right bottom,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}


/* Spinning 3d Carousel   */

#drag-container,
#spin-container{
  position: relative;
  display: flex;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}

#drag-container img {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 #ffffff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  cursor: pointer;
}

#drag-container img:hover {
  box-shadow:  0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent #0007);

}

#drag-container h1 {
  font-size: 5em;
  color: #ffffff;
  line-height: 1em;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


@keyframes spinRevert {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* Main  */

main{
  position: relative;
  width: 100%;
  min-height: 100vh;
}



/* Footer  */

footer{
  position: relative;
  width: 100%;
  background: #000000;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icon, footer .menus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li, footer .menus li {
  list-style: none;
}

footer .social-icon li a, footer .menus li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}


footer .social-icon li a:hover{
  transform: translateY(-10px);
  color: #ffd700;
}



footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font: 1.1em;
}

@media (max-width: 768px){
  header {
    padding: 30px;
  }

  .nav{
    display: none;
  }

  .menu{
    display: block;
  }

  .banner{
    padding: 120px 30px;
  }

  .banner .content h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1em;
  }

  .banner .content h4{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
  }

  .carousel-indicators button {
    display: none;
  }
}
